<!DOCTYPE html>
<html lang="en-US" style="overflow: hidden">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Face-Off</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsee.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='owl-carousel/owl.carousel.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='owl-carousel/owl.theme.css') }}">     
    <link rel="stylesheet" href="{{ url_for('static', filename='css/template-style.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.8.3.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='img/shortcut.png') }}" />
  </head>
  
  <body class="size-1140">

    <header role="banner" class="position-absolute">    
      <nav class="background-transparent background-transparent-hightlight full-width sticky">
        <div class="s-12 l-2">
          <a href="/" class="logo">
            <img class="logo-white" src="{{ url_for('static', filename='img/logo.png') }}" alt="">
            <img class="logo-dark" src="{{ url_for('static', filename='img/logo-dark.png') }}" alt="">
          </a>
        </div>
        <div class="top-nav s-12 l-10">
          <p class="nav-text"></p>
          <ul class="right chevron">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
          </ul>
        </div>
      </nav>
    </header>
    
    <main role="main">    
      <header>
            <div class="s-12">
              <img src="{{ url_for('static', filename='img/header4-8.jpg') }}" style="object-fit: cover;" alt="">
              <section class="section content-center-vertical">
                <div class="line">
                  <h2 class="text-size-70 text-center text-white">Privacy Policy</h2>
                  <hr class="break-small background-primary break-center">
                </div>
                <div class="line">
                  <div class="margin">  
                    <div class="s-12 m-12 l-3">
                      <p class="h1 text-size-40 margin-m-bottom-30 text-white text-line-height-1 text-right">Your Data Privacy Is Important</p>
                    </div>
                    <div class="s-12 m-12 l-7">
                      <p class="text-size-20 margin-m-bottom-30 text-white"> - We permanently delete ALL of your personal data from our servers.<br/> - We do NOT save your data in any form in our algorithms or models. <br/> - Within 1 hour, all of your data is deleted.</p>
                    </div>
                  </div>
                </div>
                <div class="line margin-top-bottom-10">
                  <div class="margin">
                    <div class="s-12 m-12 l-3">
                      <p class="h1 text-size-40 margin-m-bottom-30 text-white text-line-height-1 text-right">Session Cookies</p>
                    </div>
                    <div class="s-12 m-12 l-7">
                      <p class="text-size-20 margin-m-bottom-30 text-white"> - Cookies are used only for website functionality purposes.</p>
                    </div>
                  </div>
                </div>
              </section>
            </div>
      </header>
    <script type="text/javascript" src="{{ url_for('static', filename='js/responsee.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='owl-carousel/owl.carousel.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/template-scripts.js') }}"></script>
  </body>
</html>