<!DOCTYPE html>
<html lang="en-US" style="overflow: hidden">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Eleganter - New Amazing HTML5 Template</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsee.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='owl-carousel/owl.carousel.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='owl-carousel/owl.theme.css') }}">     
    <link rel="stylesheet" href="{{ url_for('static', filename='css/template-style.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.8.3.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>     
    <script type="text/javascript" src="{{ url_for('static', filename='js/upload.js') }}"></script> 
  </head>
  
  <body class="size-1140"  style="background-image: url({{ url_for('static', filename='img/header4-8.jpg') }}); background-size: cover; background-repeat: no-repeat;">
    <!-- PREMIUM FEATURES BUTTON -->
    <a target="_blank" class="hide-s" href="../template/eleganter-premium-responsive-business-template/" style="position:fixed;top:120px;right:-14px;z-index:10;"><img src="{{ url_for('static', filename='img/premium-features.png') }}" alt=""></a>
    <!-- HEADER -->
    <header role="banner" class="position-absolute">
      <!-- Top Navigation -->
      <nav class="background-transparent background-transparent-hightlight full-width sticky">
        <div class="s-12 l-2">
          <a href="/" class="logo">
            <!-- Logo White Version -->
            <img class="logo-white" src="{{ url_for('static', filename='img/logo.png') }}" alt="">
            <!-- Logo Dark Version -->
            <img class="logo-dark" src="{{ url_for('static', filename='img/logo-dark.png') }}" alt="">
          </a>
        </div>
        <div class="top-nav s-12 l-10">
          <p class="nav-text"></p>
          <ul class="right chevron">
            <li><a href="/">Home</a></li>
<!--             <li><a href="products.html">Products</a></li>
            <li><a>Services</a>
              <ul>
                <li><a>Service 1</a>
                  <ul>
                    <li><a>Service 1 A</a></li>
                    <li><a>Service 1 B</a></li>
                  </ul>
                </li>
                <li><a>Service 2</a></li>
              </ul>
            </li>
            <li><a href="about.html">About</a></li>
            <li><a href="gallery.html">Gallery</a></li>
            <li><a href="contact.html">Contact</a></li> -->
          </ul>
        </div>
      </nav>
    </header>
    
    <!-- MAIN -->
    <main role="main">    

      <!-- Section 5 -->    
      <section class="section text-center">
          <h2 class="text-size-50 text-center text-white">Select Faces to Hide</h2>
          <hr class="break-small background-primary break-center">
          <form id="upload-det" enctype="multipart/form-data" action="" method="POST">
            {{form.csrf_token}}
            <div class="carousel-default owl-carousel">
              {% for file, dets in filedets.items() %}
                {% set outer_loop = loop %}
                <div class="item">
                  <span style="position:relative">
                    <img class="det-image" src="{{ url_for('static', filename='temp/'+file) }}" alt="" id="{{ outer_loop.index }}" orig-height="{{ filedims[file]['height'] }}" orig-width="{{ filedims[file]['width'] }}" style="height: auto; width: auto; object-fit: contain; display: block; margin-left: auto; margin-right: auto; max-width: 100%; max-height: 60vh">
                    {% for b, box in dets.items() %}
                      <label class="button button-white-stroke s-12" btnclass="bounding-box" name="bound{{ outer_loop.index }}" scaled="false" style="position:absolute; top:{{box[1]+23}}px; height:{{box[3]-box[1]}}px; left:{{box[0]-filedims[file]['width']/2}}px; width:{{box[2]-box[0]}}px">
                        {{form|attr("customSwitch{}".format(b))(class_="face-check", onclick="unselect(this)", id=b)}}
                      </label>
                    {% endfor %}
                  </span>
                </div>
              {% endfor %}
            </div>
          </form>
          <div class="s-12 m-12 l-3 center">
            <label class="button button-white-stroke s-12 margin-top-bottom-10" id="select-all-label">
              Select All<input type="checkbox" class="select-all-check" name="select-all-btn" id="select-all-btn">
            </label>
            <button id="upload-det-btn" class="button button-white-stroke s-12">
              Accept
            </button>
          </div>
      </section>
    </main>
    <script type="text/javascript" src="{{ url_for('static', filename='js/responsee.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='owl-carousel/owl.carousel.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/template-scripts.js') }}"></script>
  </body>
</html>