<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Face-Off</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsee.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='owl-carousel/owl.carousel.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='owl-carousel/owl.theme.css') }}">     
    <link rel="stylesheet" href="{{ url_for('static', filename='css/template-style.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.8.3.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>     
    <script type="text/javascript" src="{{ url_for('static', filename='js/upload.js') }}"></script> 
    <script type="text/javascript" src="{{ url_for('static', filename='js/download.js') }}"></script> 
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='img/shortcut.jpg') }}" />
  </head>
  
  <body class="size-1140">

    <header role="banner" class="position-absolute">    
      <nav class="background-transparent background-transparent-hightlight full-width sticky">
        <div class="s-12 l-2">
          <a href="/" class="logo">
            <img class="logo-white" src="{{ url_for('static', filename='img/logo.png') }}" alt="">
            <img class="logo-dark" src="{{ url_for('static', filename='img/logo-dark.png') }}" alt="">
          </a>
        </div>
        <div class="top-nav s-12 l-10">
          <p class="nav-text"></p>
          <ul class="right chevron">
            <li><a href="/">Home</a></li>
            <li><a href="/about#about">About</a></li>
            <li><a href="/about#privacy">Privacy</a></li>
          </ul>
        </div>
      </nav>
    </header>

    <main role="main">    
      <header>
        <div class="s-12">
          <img src="{{ url_for('static', filename='img/header4-8.jpg') }}" style="object-fit: cover;" alt="">
          <div class="carousel-content">
            <div class="content-center-vertical line">
              <p id="error" hidden>{{error}}</p>
              <div class="margin-top-bottom-80">
                <!-- Title -->
                <h1 class="text-white text-center margin-bottom-30 text-size-70 text-m-size-30 text-line-height-1">Face-Off</h1>
                <div class="s-12 m-10 l-8 text-center center"><p class="text-white margin-bottom-40 text-size-20">Protect your privacy by hiding your face with Face-Off<br/><br/>Conceal photos with our service before uploading them to social media<br/><br/>Visit the <b>About</b> page for more info</p></div>
                <div class="line">
                  <div class="s-12 m-12 l-3 center margin-top-bottom-30">
                    <form id="upload-img" enctype="multipart/form-data" action="" method="POST">
                      <label class="button button-white-stroke s-12 text-size-20 margin-top-bottom-10">
                        {{form.csrf_token}}
                        Select Image(s){{form.photo(hidden="true")}}
                        <p class="text-size 10">.png .jpeg. jpg</p>
                      </label>
                      {{form.recaptcha}}
                      <button id="upload-img-btn" class="button button-white-stroke s-12 margin-top-80 text-size-20">
                        Upload
                      </button>
                      <p class="text-center text-white text-size-30" id="file-counter">0 files selected</p>
                    </form>
                  </div>       
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
    <script type="text/javascript" src="{{ url_for('static', filename='js/responsee.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='owl-carousel/owl.carousel.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/template-scripts.js') }}"></script>
    {% if error is defined %}
      <script type="text/javascript">
        alert($('#error').html());
      </script>
    {% endif %}
  </body>
</html>
