<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Face-Off</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsee.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='owl-carousel/owl.carousel.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='owl-carousel/owl.theme.css') }}">     
    <link rel="stylesheet" href="{{ url_for('static', filename='css/template-style.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.8.3.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='img/shortcut.jpg') }}" />
  </head>
  
  <body class="size-1140"  style="background-image: url({{ url_for('static', filename='img/header4-8.jpg') }}); background-size: cover;">

    <header role="banner" class="position-absolute">    
      <nav class="background-transparent background-transparent-hightlight full-width sticky">
        <div class="s-12 l-2">
          <a href="/" class="logo">
            <img class="logo-white" src="{{ url_for('static', filename='img/logo.png') }}" alt="">
            <img class="logo-dark" src="{{ url_for('static', filename='img/logo-dark.png') }}" alt="">
          </a>
        </div>
        <div class="top-nav s-12 l-10">
          <p class="nav-text"></p>
          <ul class="right chevron">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/motivation#motivation">Motivation</a></li>
            <li><a href="/methodology">Methodology</a></li>
            <li><a href="/results">Results</a></li>
            <li><a href="/materials">Materials</a></li>
          </ul>
        </div>
      </nav>
    </header>
    
    <main role="main">    
      <header>
        <div class="s-12">
          <section class="section" id="motivation">
            <div class="line">
              <h2 class="text-size-70 text-center text-white">Face-Off Motivation</h2>
              <hr class="break-small background-primary break-center">
            </div>
            <div class="line">
              <div class="margin">  
                <div class="s-12 m-12 l-3">
                  <p class="h1 text-size-40 margin-m-bottom-30 text-white text-line-height-1 text-right">Online Face Recognition</p>
                </div>
                <div class="s-12 m-12 l-7">
                  <ul>
                    <li class="text-size-20 margin-m-bottom-30 text-white"> Many online platforms use user uploaded photos in face recognition systems.</li>
                    <li class="text-size-20 margin-m-bottom-30 text-white"> This includes most social media services (Facebook, Instagram, etc.)</li>
                    <li class="text-size-20 margin-m-bottom-30 text-white"> Oftentimes data is leaked or scraped and can be used in harmful or controversial applications.</li>
                    <li class="text-size-20 margin-m-bottom-30 text-white"> Examples include:
                      <br/>    - Clearview.ai scraping Facebook photos without user consent for use in their law enforcement software.
                      <br/>    - Cambridge Analytica collecting Facebook profile data without consent.
                      <br/>    - Facebook's face recognition system violating Illinois biometric privacy laws.
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="line margin-top-bottom-60">
              <div class="margin">
                <div class="s-12 m-12 l-3">
                  <p class="h1 text-size-40 margin-m-bottom-30 text-white text-line-height-1 text-right">Hiding Faces From AI</p>
                </div>
                <div class="s-12 m-12 l-7">
                  <ul>
                    <li class="text-size-20 text-white"> Face-Off allows users to protect their face data by adding a discrete and strategic distortion layer which hides their face from being recognized by face recognition.</li>
                    <li class="text-size-20 text-white"> Note: Face-Off does not guarantee protection, it increases the chances that a face recognition system will not be able to correctly recognize a face.</li>
                    <li class="text-size-20 text-white"> Note: Face-Off does not stop face <i>detection</i>, a service will still know that a face is there, it just won't know who it belongs to.</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="line margin-top-bottom-60">
              <div class="margin">
                <div class="s-12 m-12 l-3">
                  <p class="h1 text-size-40 margin-m-bottom-30 text-white text-line-height-1 text-right">Face-Off Drawbacks</p>
                </div>
                <div class="s-12 m-12 l-7">
                  <ul>
                    <li class="text-size-20 text-white"> The faces generated by Face-Off have obvious perturbation artifacts, and users may not be comfortable uploading these images.</li>
                    <li><img src="{{ url_for('static', filename='img/perturbations.png') }}" alt=""></li>
                    <li class="text-size-20 text-white"> The adversarial examples generated rely the transferability property of adversarial attacks. By amplifying the noise mask with a constant, this improves the likelihood of transfer and results in an unappealing image.</li>
                    <li><img src="{{ url_for('static', filename='img/userstudy.png') }}" alt=""></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="line margin-top-bottom-60">
              <div class="margin">
                <div class="s-12 m-12 l-3">
                  <p class="h1 text-size-40 margin-m-bottom-30 text-white text-line-height-1 text-right">Image Scaling Attacks</p>
                </div>
                <div class="s-12 m-12 l-7">
                  <ul>
                    <li class="text-size-20 text-white"> A recent work with image scaling attacks addresses these issues perfectly.</li>
                    <li class="text-size-20 text-white"> They deconstruct scaling algorithms (nearest, linear, cubic, lanczos) to mask smaller images inside high resolution images.</li>
                    <li><img src="{{ url_for('static', filename='img/scalingattack.png') }}" alt=""></li>
                    <li class="text-size-20 text-white"> Downscaling these attacked images result in the smaller "target" image being revealed to machine learning pipelines.</li>
                    <li><img src="{{ url_for('static', filename='img/scalecupcat.png') }}" alt=""></li>
                  </ul>
                </div>
              </div>
            </div>
          </section>
        </div>
      </header>
    </main>
    <script type="text/javascript" src="{{ url_for('static', filename='js/responsee.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='owl-carousel/owl.carousel.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/template-scripts.js') }}"></script>
  </body>
</html>