<!DOCTYPE html>
<html lang="en-US" style="overflow: hidden">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Eleganter - New Amazing HTML5 Template</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsee.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='owl-carousel/owl.carousel.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='owl-carousel/owl.theme.css') }}">     
    <link rel="stylesheet" href="{{ url_for('static', filename='css/template-style.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.8.3.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>     
    <script type="text/javascript" src="{{ url_for('static', filename='js/upload.js') }}"></script> 
  </head>
  
  <body class="size-1140" style="background-image: url({{ url_for('static', filename='img/header4-8.jpg') }}); background-size: cover; background-repeat: no-repeat;">
    <!-- HEADER -->
    <header role="banner" class="position-absolute">    
      <!-- Top Navigation -->
      <nav class="background-transparent background-transparent-hightlight full-width sticky">
        <div class="s-12 l-2">
          <a href="/" class="logo">
            <!-- Logo White Version -->
            <img class="logo-white" src="{{ url_for('static', filename='img/logo.png') }}" alt="">
            <!-- Logo Dark Version -->
            <img class="logo-dark" src="{{ url_for('static', filename='img/logo-dark.png') }}" alt="">
          </a>
        </div>
        <div class="top-nav s-12 l-10">
          <p class="nav-text"></p>
          <ul class="right chevron">
            <li><a href="/">Home</a></li>
<!--             <li><a href="products.html">Products</a></li>
            <li><a>Services</a>
              <ul>
                <li><a>Service 1</a>
                  <ul>
                    <li><a>Service 1 A</a></li>
                    <li><a>Service 1 B</a></li>
                  </ul>
                </li>
                <li><a>Service 2</a></li>
              </ul>
            </li>
            <li><a href="about.html">About</a></li>
            <li><a href="gallery.html">Gallery</a></li>
            <li><a href="contact.html">Contact</a></li> -->
          </ul>
        </div>
      </nav>
    </header>
    
    <!-- MAIN -->
    <main role="main">    
      <!-- Section 1 -->
      <section class="section-small-padding text-center"> 
        <form id="upload-pert" enctype="multipart/form-data" action="" method="POST">
          {{form.csrf_token}}
          <div class="line">
            <div class="margin-top-bottom-60">
              <div class="slide-container">
                {{ form.attacks(min=0, max=1, id='attack-slide', extra_classes='slider', oninput='attackUpdate(value)', style='width;') }}
               <h2 class="text-thin text-white text-center" id="attack-display">Slow (~50s / unique face) - Smaller Distortion</h2>
             </div>
            </div>
            <div class="margin">
              <div class="slide-container">
                {{ form.perts(min=0, max=4, id='pert-slide', extra_classes='slider', oninput='pertUpdate(value)', style='width:40%;') }}
               <h2 class="text-thin text-white text-center" id="pert-display">Some Distortion - Some Privacy</h2>
             </div>
            </div>
          </div>
        </form>
        <div class="s-12 m-12 l-3 center">
          <button id="upload-pert-btn" class="button button-white-stroke s-12 margin-top-bottom-10">
            Accept
          </button>
        </div>
      </section>
    <script type="text/javascript" src="{{ url_for('static', filename='js/responsee.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='owl-carousel/owl.carousel.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/template-scripts.js') }}"></script>
  </body>
</html>